aside {
    position: fixed;
    float: left;
    width: 12vw;
    height: 88vh;
    top: 12vh;
    background: #007096;
}

aside .list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-size: 2.5vh;
}

aside .list .list_item{
    list-style: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

aside .list .list_item .list_button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 90%;
    margin: 0 auto;
}

aside p{
    display: block;
    padding: 13px 0;
}

aside .list .list_item .list_button .row{
    margin-left: auto;
}

.list_inside p:hover{
    background-color: white;
}