header .content .final #tendencias{
	background: white;
}

header .content .final #tendencias img{
	filter: none;
}

/*content*/
.body,
.title{
    position: fixed;
    display: flex;
    width: 88%;
    right: 0;
    justify-content: center;
    align-items: center;
}

.title h1{
	font-size: 8vh;
}

#icon-filter {
    color: #007096;
}

.body{
	max-height: 66%;
    top: 30%;
}

.crear-publicacion {
    position: absolute;
    right: 5vw;
    bottom: 4vh;
    cursor: pointer;

}

.crear-publicacion i {
    background: #007096;
    color: white;
    padding: 20%;
    border-radius: 50%;
    font-size: 2.5rem;
}

.crear-publicacion i:hover{
    background: #016283;
}

.body #sub-menu {
    top: 52vh;
    left: 76vw;
	padding: 10px 12px;
}

.body #sub-menu .menu-option a {
    margin: 0px 15px;
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 1440px){       
    .body #sub-menu {        
        top: 49vh;
        left: 74vw;
    }
}