header .content .final #tendencias{
	background: white;
}

header .content .final #tendencias img{
	filter: none;
}

/*content*/
.body,
.title{
	position: fixed;
    display: grid;
    width: 88%;
    right: 0;
}

.title h1{
	font-size: 8vh;
}

.body{
	max-height: 71%;
    max-width: 80%;
    top: 25%;
}