h1{
	font-size: 3em;
	margin: 20px 0 15px 0;
}

.content .lista{
	display: inline-block;
	background: #f7f7f7;
	padding: 20px;
}

.content .lista .forms{
	display: flex;
}

.content .lista .forms .izquierda{
	display: inline-block;
	text-align: initial;
}

.content .lista .forms .derecha{
	/*display: inline-block;
	text-align: end;*/
	display: flex;
	flex-direction: column;
}

.content .lista .forms .label{
	display: block;
	margin: 10px 0;
}

.content .lista .forms .izquierda #nombre input{
	width: 75%;
	height: 2.3em;
	outline: none;
}

.content .lista .forms .izquierda .categorias .categoria{
	margin: 10px;
}

.content .lista .forms .derecha .promociones input{
	display: inline-flex;
}

.content .lista .forms .derecha .promociones  div{
	/*display: inline-flex;*/
}

.content .lista .forms .derecha .horario{
	/*display: inline-grid;*/
	display: flex;
	flex-direction: column;
}

.content.lista .forms .derecha .horario .dias{
	display: flex;
	flex-direction: column;
}

.content .lista .forms .derecha .horario .dias .dia label,
.content .lista .forms .derecha .horario .dias .dia div{
	display: inline-flex;
}

.content .lista .boton input{
	width: 30%;
	font-size: 1.1em;
	font-weight: bold;
	padding: 4px;
}