h1{
	font-size: 3em;
	margin: 20px 0 15px 0;
}

.content .lista{
	display: inline-block;
	background: #f7f7f7;
	padding: 20px;
}

.content .lista .form{
	display: flex;
}

.content .lista .form form{
	display: inline-block;
	width: 50%;
}

.content .lista .form .izquierda{
	text-align: initial;
}

.content .lista .form .derecha{
	text-align: end;
}

.content .lista .form form .label{
	display: block;
	margin: 10px 0;
}

.content .lista .form .izquierda #nombre input{
	width: 75%;
	height: 2.3em;
	outline: none;
}

.content .lista .form .izquierda .categorias .categoria{
	margin: 10px;
}

.content .lista .form .derecha .promociones input{
	display: inline-flex;
}

.content .lista .form .derecha .promociones  div{
	/*display: inline-flex;*/
}

.content .lista .form .derecha .horario{
	display: inline-grid;
}

.content .lista .form .derecha .horario .lunes label,
.content .lista .form .derecha .horario .lunes div,
.content .lista .form .derecha .horario .martes label,
.content .lista .form .derecha .horario .martes div{
	display: inline-flex;
}

.content .lista .form #guardar{
	position: absolute;
}
