h1{
	font-size: 3.5em;
	margin: 20px 0 15px 0;
}

.content .lista{
	display: inline-block;
	background: #f7f7f7;
	padding: 2%;
}
/*
.content .lista .forms .izquierda .categorias .categoria{
	margin: 10px;
}

.content .lista .forms .derecha .horario{
	display: flex;
	flex-direction: column;
	font-weight: bold;
}

*/

.content .lista form{
	font-size: 2em;
}

.content .lista form .forms{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.content .lista .forms .label{
	display: block;
	margin: 10px 0;
}

.content .lista .forms .izquierda{
	display: grid;
	text-align: initial;
}

.content .lista .forms .izquierda #nombre input{
	width: 83%;
	height: 2em;
	outline: none;
	font-size: 1em;
	padding: 0 10px;
}

/* *categorias* */



.content .lista .forms .derecha{
	text-align: end;
	display: grid;
}

/* logo */

.content .lista .forms .izquierda .logoT .contentL{
	display: inline-block;
}

/* promociones*/

.content .lista .forms .derecha .promociones .imageP{
	display: inline-flex;
}

/* promociones y logo*/
.content .lista .forms .izquierda .logoT .contentL .box,
.content .lista .forms .derecha .promociones .imageP .box{
	height: 92px;
	margin: 0 2px 4px;
	border-radius: 12px;
	border: 2px dashed black;
}

.content .lista .forms .izquierda .logoT .contentL .ip label::before,
.content .lista .forms .derecha .promociones .imageP .ip label::before{
	content: 'Seleccionar';
    display: inline-block;
	font-size: 0.6em;
    background-color: #efefef;
    border: #6c6c6c 1px solid;
    border-radius: 4px;
    padding: 3px 9px;
	margin: 0 18px;
    cursor: pointer;
}

.content .lista .forms .izquierda .logoT .contentL .ip input,
.content .lista .forms .derecha .promociones .imageP .ip input{
	display: none;
}

/* horario */

/*.content.lista .forms .derecha .horario .dias{
	display: flex;
	flex-direction: column;
	font-weight: bold;
}*/

.content .lista .forms .derecha .horario .dias .dia label,
.content .lista .forms .derecha .horario .dias .dia div{
	display: inline-flex;
	margin: 3px;
	font-size: 0.8em;
}

.content .lista .forms .derecha .horario .dias select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 5px 13px;
	border: #a5a5a5 1px solid;
	font-weight: bold;
	font-family: arial;
	font-size: 0.8em;
	outline: none;
}

.content .lista .boton input{
	width: 30%;
	font-size: 1.1em;
	font-weight: bold;
	padding: 4px;
}

/*responsivo*/
@media only screen and (max-width: 1502px){

	h1{
		font-size: 3em;
	}

	.content .lista form{
		font-size: 1em;
	}

	.content .lista .forms .izquierda .logoT .contentL .box,
	.content .lista .forms .derecha .promociones .imageP .box{
		height: 51px;
		border: 1px dashed;
	}

	.content .lista .forms .izquierda .logoT .contentL .ip label::before,
	.content .lista .forms .derecha .promociones .imageP .ip label::before{
		font-size: small;
		cursor: pointer;
		margin: 0;
	}

	.content .lista .forms .derecha .horario .dias .dia div{
		font-size: 1em;
	}
}