aside .list{
    justify-content: initial;
}

.header_aside{
    display: block;
}

.aside_options_chat{
    display: flex;
    justify-content: space-evenly;
}

.options_aside{
    margin: 15px 0;
}

hr{
    height: 24px;
    margin: 0;
    padding: 0;
    width: 0;
}