aside{
    width: 20vw;
}

aside .list{
    justify-content: initial;
}

/* Header aside*/
.header_aside{
    display: block;
}

.aside_options_chat{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.options_aside{
    padding: 13px 0;
    width: 48%;
    background: none;
    border: none;
    font-family: 'Golos Text', sans-serif;
    font-size: inherit;
    color: white;
}

.options_aside:hover{
    background-color: white;
    color: #007096;
    border-radius: 2px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.options_aside:hover label{
    font-weight: bold;
}

hr{
    height: 38px;
    margin: 0;
    padding: 0;
    width: 0;
}