.chat-area {
    display: grid;
    grid-template-rows: 1fr 6%;
}

.chat-area form {
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    align-items: center;
}

.chat-area form i {
    font-size: 1.4rem;
}

textarea{
    display: grid;
    border-top: 1px solid #dfdfdf;
}

.text-area:nth-child(1){
    display: flex;
}

.text-area:nth-child(0) input,
.text-area:nth-child(2) input {
    display: none;
}

.text-area:nth-child(0) i,
.text-area:nth-child(2) i {
    cursor: pointer;
    color: #007096;
}

.text-area .bx-send.bx-flip-vertical{
    transform: rotate(-37deg);
}

.text-area textarea {
    resize: none;
    outline: none;
    width: 100%;
    line-height: 1.5;
    height: calc(1.5 * 1.2em);
    font-family: 'Golos Text', sans-serif;
    padding: 0 5px;
}