.chat-area {
    display: grid;
    grid-template-rows: 1fr 6%;
}

.chat-area form {
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    align-items: center;
}

.chat-area form i {
    font-size: 1.5rem;
    cursor: pointer;
    color: #007096;
}

.chat-area input {
    display: none;
}

.text-area {
    display: grid;
    border-top: 1px solid #dfdfdf;
}

.text-area div:nth-child(2) {
    display: flex;
}

.text-area div:nth-child(1) i:hover:before {
    content: "\ee79";
}

.text-area div:nth-child(1) i {
    animation: rotate-center-inverse 0.4s;
}

@keyframes rotate-center-inverse {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0);
    }
}

.text-area div:nth-child(1) i:hover {
    animation: rotate-center 0.4s;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}

.text-area div:nth-child(3) i:hover:before {
    content: "\ee9d";
}

.text-area div:nth-child(3) i:hover {
    animation: up 0.4s;
}

@keyframes up {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-37deg);
    }
}

.text-area div:nth-child(3) i {
    animation: down 0.4s;
}

@keyframes down {
    0% {
        transform: rotate(-37deg);
    }

    100% {
        transform: rotate(0);
    }
}

.text-area .bx-send.bx-flip-vertical {
    /*transform: rotate(-37deg);*/
}

.text-area textarea {
    resize: none;
    outline: none;
    width: 100%;
    line-height: 1.5;
    height: calc(1.5 * 1.2em);
    font-family: 'Golos Text', sans-serif;
    padding: 0 5px;
}