.chat-area {
    display: grid;
    grid-template-rows: 1fr 6%;
}

.chat-area form{
    display: grid;
    grid-template-columns: 1fr 90% 1fr;
}

.text-area:nth-child(0) input,
.text-area:nth-child(2) input{
    display: none;
}

.text-area:nth-child(1) textarea{
    resize: none;
    outline: none;
    width: 100%;
    line-height: 1.5;
    height: calc(1.5 * 1.2em);
}
