.mssg-area {
    overflow-y: auto;
    padding: 10px 0;
    height: 82.7vh;
}

#span-seleccion-tienda{
    margin-top: 37vh;
}

.mssg-area img{
    max-width: 100%;
    max-height: 39vh;
    object-fit: cover;
}

.mssg-area p{
    letter-spacing: 0.5pt;
}

.received-msg {
    display: inline-block;
    width: 100%;
}

.outgoing-msg {
    display: inline-block;
    width: 100%;
}

.received-msg-inbox {
    max-width: 51%;
    float: left;
    text-align: initial;
    margin-left: 1rem;
}

.received-msg-inbox .recived-box-msg {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}

p {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

/* Styling the msg-sent time  */
.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

/*mensajes salientes*/

.outgoing-chats-msg .outgoing-box-msg{
    background-color: #007096;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}

.outgoing-chats-msg {
    float: right;
    max-width: 51%;
    text-align: start;
    margin-right: 1rem;
}

@media only screen and (max-width: 1440px) {
    
    .outgoing-chats-msg,
    .received-msg-inbox{
        max-width: 65%;
    }
}