.content .lista form .item .name #passwordGerente,
.content .lista form .item .name #repasswordGerente{
    display: block;
}

.content .lista form .item .name #seleccion_tienda{
	margin: 8% 0;
}

.content .lista form #item-7 .name input{
    margin: 5% 0 3%;
}

.content .lista form #item-7 .notas span {
    line-height: 27px;
}

#volverEnviarCorreo {
    font-size: 4vh;
    cursor: pointer;
}

.content .lista form .item .gerente#send {
    margin-left: 57vw;
}