.content .lista form .item .name #passwordGerente,
.content .lista form .item .name #repasswordGerente{
    display: block;
}

.content .lista form .item .name #seleccion_tienda{
	margin: 8% 0;
}

.content .lista form #item-7 .name input{
    margin: 5% 0 3%;
}

.content .lista form #item-7 .notas span {
    line-height: 27px;
}

#volverEnviarCorreo {
    font-size: 4vh;
    cursor: pointer;
}

.content .lista form .item #send {
    margin-left: 57vw;
}

.edit{
    animation: float 2.8s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
    box-shadow: 0 15px 15px 0px rgba(0,0,0,0.3);
		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
		/*transform: translatey(-20px);*/
    transform: translatey(-6px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}