.content {
    height: 88%;
    display: block;
}

.content .header_profile {
    height: 14vh;
    display: grid;
    grid-template-rows: 70% 30%;
}

/*info profile*/
.content .header_profile .header_info_profile {
    display: grid;
    grid-template-columns: 94% 1fr;
}

.info_img_profile {
    display: grid;
    grid-template-columns: 10% 1fr;
    height: 100%;
}

.img_profile {
    height: 90%;
    width: 80%;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}

#fltr {
    display: grid;
}

.profile_img {
    max-height: 8.8vh;
    max-width: 7.5vw;
    border-radius: 50%;
}

form#form_change_img {
    position: absolute;
}

img.filter {
    max-height: 8.8vh;
    border-radius: 50%;
    position: absolute;
    display: none;
    cursor: pointer;
}

#fltr:hover .filter {
    display: block;
}

input#change_img {
    display: none;
}

.content .header_profile img:first-child {
    max-height: 8.8vh;
    max-width: 7.5vw;
    border-radius: 50%;
}

#fltr:hover img:last-child {
    display: block;
    cursor: pointer;
}

.info_profil {
    display: grid;
    align-items: center;
    justify-items: start;
}

.info_profil>p:first-child {
    font-weight: bolder;
    font-size: 3vh;
}

.info_profil div {
    display: flex;
}

.info_profil div p {
    margin-right: 60px;
}

.log-out {
    display: grid;
    align-items: center;
    justify-content: center;
}

img#img_log-out {
    max-height: 8.8vh;
}

/*top menu*/


.top_menu_profile {
    align-items: center;
    display: flex;
    background: #007096;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.top_menu_profile a {
    all: inherit;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    border: 1px #00709680 solid;
}

a.gerentes_option:hover,
a.graficas_option:hover {
    background: white;
    color: #007096;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}