.content .header_profile{
    height: 20%;
}

.content .header_profile .info_profile{
    height: 15%;
    background: grey;
}
/*
.content .header_profile .top_menu_profile{

}

.content .header_profile .top_menu_profile .graficas_option{

}

.content .header_profile .top_menu_profile .gerentes_option{

}
*/