.content .lista {
    width: 90%;
    margin: 60px auto 5px auto;
}

.content .lista .item {
    height: 222px;
    width: 250px;
    grid-template-rows: 58% 42%;
    align-items: center;
}

.content .lista .item .logo {
    max-height: 118px;
}

.item p {
    margin: 5px 0;
}

.content .lista #agregar {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .lista #agregar span {
    font-size: 9em;
    color: #ababab;
}

.logo:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.05);
}

/**********/
.edicionGerente {
    position: absolute;
    right: 5vw;
    bottom: 4vh;
    color: white;
    font-size: 5.5vh;
}

.edicionGerente i {
    background: #007096;
    color: white;
    padding: 20%;
    border-radius: 50%;
}

.edicionGerente i:hover {
    background: #016283;
}

.content .lista .edit {
    animation: float 2.8s ease-in-out infinite;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgb(0 112 150);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 15px 15px 0px rgb(0 112 150 / 37%);
        transform: translatey(-6px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgb(0 112 150);
        transform: translatey(0px);
    }
}

@media only screen and (max-width: 1440px) {
    .content .lista .edit {
        animation: float 2.5s ease-in-out infinite;
    }
    
    @keyframes float {
        0% {
            box-shadow: 0 5px 15px 0px rgb(0 112 150);
            transform: translatey(0px);
        }
        50% {
            box-shadow: 0 15px 15px 0px rgb(0 112 150 / 37%);
            transform: translatey(-3px);
        }
        100% {
            box-shadow: 0 5px 15px 0px rgb(0 112 150);
            transform: translatey(0px);
        }
    }
        
}