.body {
    max-height: 93%;
    margin: auto 0px;
}

#span-seleccion-tienda {
    margin-top: 0vh;
}

.floating_bttns {
    display: grid;
    justify-items: start;
}

.floating_bttns #filterList i {
    margin-top: 2vh;
    color: #007096;
    font-size: 7vh;
    cursor: pointer;
}

.crear-publicacion {
    display: grid;
    align-items: end;
}

.crear-publicacion i {
    background: #007096;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 5vh;
    margin-bottom: 3vh;
}