.content .lista form .item .promociones .contentPP{
    width: 60%;
    overflow: hidden;
}

.content .lista form .item .promociones .imageP{
    overflow: auto;
}

.content .lista form #item-5{
    display: block;
}

.content .lista form #item-6 .notas{
    margin-bottom: 1%;
}

#imageP{
    grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 1502px) {
    .content .lista form .item .descripcion textarea {
        width: 485px;
    }

    .content .lista form .item .promociones .contentPP {
        width: 65%;
    }
}