.contentT{
    height: 96%;
}

.icon{
    display: grid;
    align-items: center;
}

.estrellas {
    display: inline-flex;
}

.name {
    font-size: .77rem;
}

.cali {
    font-size: 1.5em;
    margin: -14px 0 2px;
}

.botI, .botD{
    height: 81%;
}

.content .izquierda .botI .tit, .content .derecha .botD .tit{
    height: 13%;
}

.slider-container{
    height: 70%;
    margin-left: 0%;
}

.text{
    font-size: 1.5rem;
    height: 13%;
    text-align: initial;
}

.text div{
    margin: 10px 0 0 27px;
}

.topD{
    display: grid;
    justify-items: end;
    grid-template-columns: none;
}

.info{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    font-weight: bold;
}