.icon{
    display: grid;
    align-items: center;
}

.estrellas {
    display: inline-flex;
}

.name {
    font-size: .77rem;
}

.cali {
    font-size: 1.5em;
    margin: -14px 0 2px;
}

.botI, .botD{
    height: 81%;
}

.content .izquierda .botI .tit, .content .derecha .botD .tit{
    height: 13%;
}

.slider-container{
    height: 70%;
}

.text{
    font-size: 1.5rem;
    height: 13%;
    margin: 10px 0px 0px;
}

.text div{
    margin-bottom: 10px;
}