/*.stock-switch {
    display: flex;
    align-items: center;
}

.switch-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #66bb6a; /* Color verde cuando hay stock 
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.stock-status {
    margin-left: 10px;
    color: #666;
    transition: color .4s;
}

.stock-available {
    color: #4caf50; /* Color verde cuando hay stock 
}

.stock-unavailable {
    color: #f44336; /* Color rojo cuando no hay stock 
}
*/