.content{
    height: 87vh;
}

.content .lista form .item .promociones .imageP{
    display: block;
}

.content .lista form .item .promociones .imageP .contentP .ip label::before{
    width: 13vw;
}

.content .lista form .item #ult{
    margin-left: 51vw;
}

.content .lista form .item #ult{
    margin-left: 1vw;
}