.content{
    text-align: left;
}

.content .space-publication{
    border: 2px solid grey;
    width: 97%;
    margin: auto;
    padding: 19px 0;
}

hr {
    border: 0;
    border-bottom: 1px solid #6666663d;
}

.content .space-publication img{
    width: 90px;
}

.space-publication .header-publication{
    border: 2px solid rgb(109, 6, 6);
}

.space-publication .body-publication{
    border: 2px solid rgb(109, 6, 6);
}