.title {
    grid-template-columns: 0.1fr 2fr 0.1fr;
    justify-items: center;
}

.content {
    text-align: left;
}

#background-animated{
    left: 4.3vw;
}

#sub-menu{
    top: 15%;
    left: 5.6%;
}

.content .content-ofertas {
    width: 97%;
    margin: 20px auto;
}

.content .space-publication {
    margin-bottom: 14px;
}

hr {
    border: 0;
    border-bottom: 1px solid #6666663d;
    width: 97%;
    margin: auto;
}

.content .space-publication img {
    max-height: 100%;
    max-width: 6%;
}

.header-publication {
    height: 8vh;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.header-publication img {
    max-width: 6%;
}

.header-publication .name {
    font-size: 5vh;
    font-weight: bold;
    margin-left: 0.5%;
}

.space-publication .body-publication {
    width: 86%;
    margin: 1.2% auto 0;
    display: flex;
    flex-direction: column;
}

.space-publication .body-publication p {
    font-size: 2vh;
}

.space-publication .body-publication img {
    margin: auto;
    max-height: 46vh;
    max-width: 50%;
    margin-top: 3%;
}

.content .crear-publicacion {
    position: absolute;
    right: 5vw;
    bottom: 4vh;

}

.content .crear-publicacion span {
    background: #007096;
    color: white;
    padding: 20%;
    border-radius: 50%;
    font-size: 2.8em;
}

.content .crear-publicacion span:hover{
    background: #016283;
}

@media only screen and (max-width: 1502px) {
    #background-animated {
        left: 5.3vw;
        top: 20vh;
    }
}