h1 {
	margin: 20px 0 15px 0;
}

.content .lista {
    text-align: initial;
	display: inline-block;
	padding: 1% 2% 2%;
}

.content .lista form {
	font-size: 2em;
}

.content .lista form .item{
	padding: 2%;
	height: auto;
}

.content .lista form .item p{
	position: absolute;
	transform: translate(-46px, -43px);
	display: block;
    background: #007096;
    color: white;
    padding: 1%;
    border-radius: 50%;
    font-weight: bold;
	font-size: 1.1em;
}

.content .lista form .item div{
	margin: auto;
	font-size: 2em;
}

.content .lista form .item label{
	display: block;
}

.content .lista form .item .name input{
	font-size: 1em;
	padding: 5px;
	margin: 8% 0;
	outline: none;
}

.content .lista form .item .bttn{
	margin-left: 87%;
	display: block;
}

.content .lista form .item .bttn button{
	background: #007096;
	border: none;
	color: white;
	padding: 16%;
	border-radius: 115px;
	font-size: 0.8em;
	width: 127px;
	max-height: 1.7em;
}

/*responsivo*/
@media only screen and (max-width: 1502px) {

	h1 {
		font-size: 3em;
	}

    .content .lista form {
		font-size: 1em;
	}

	.content .lista form .item .name input{
		margin: 6% 0;
	}

	.content .lista form .item .bttn{
		margin-left: 86%;
	}

	.content .lista form .item .bttn button{
		border-radius: 29px;
		width: 73px;
	}
}