h1 {
	margin: 20px 0 15px 0;
}

.content .lista {
    text-align: initial;
	display: inline-block;
	padding: 1% 2% 2%;
}

.content .lista form {
	font-size: 2em;
}

.content .lista form .item{
	padding: 2%;
	height: auto;
}

.content .lista form .item p{
	position: absolute;
	transform: translate(-70px, -67px);
	display: block;
    background: #007096;
    color: white;
    padding: 1%;
    border-radius: 50%;
    font-weight: bold;
	font-size: 1.1em;
}

.content .lista form .item div{
	margin: auto;
	font-size: 2em;
}

.content .lista form .item label{
	display: block;
}

.content .lista form .item .name input{
	font-size: 1em;
	padding: 9px;
	margin: 8% 0;
	outline: none;
	text-align: center;
}

.content .lista form .item .bttns{
	display: flex;
	font-size: 1em;
}

.content .lista form .item .bttn #next{
	margin-right: 5%;
	margin-left: 247%;
}

.content .lista form .item .bttn #next{
	margin-left: 87%;
	display: block;
}

.content .lista form .item .bttn button{
	background: #007096;
	border: none;
	color: white;
	padding: 16%;
	border-radius: 115px;
	font-size: 0.8em;
	width: 127px;
	max-height: 1.7em;
}

/*logo*/
.content .lista form .item .logoT .contentL {
	margin-top: 2%;
}

.content .lista form .item .logoT .contentL .box{
	border-radius: 12px;
	border: 2px dashed black;
}

.content .lista form .item .logoT .contentL .ip #labelL{
	display: flex;
	justify-content: center;
}

.content .lista form .item .logoT .contentL .box img{
	max-height: 110px;
	max-width: 128px;
	border-radius: 12px;
}

.content .lista form .item .logoT .contentL .ip label::before{
	content: 'Seleccionar';
	font-size: 29px;
	padding: 7px 0;
	cursor: pointer;
	margin: 10px 0;
	background: #007096;
	color: white;
	border-radius: 26px;
	width: 74%;
}

.content .lista form .item .logoT .contentL .ip input{
	display: none;
}

/*responsivo*/
@media only screen and (max-width: 1502px) {

	h1 {
		font-size: 3em;
	}

    .content .lista form {
		font-size: 1em;
	}

	.content .lista form .item p{
		transform: translate(-46px, -43px);
	}

	.content .lista form .item .name input{
		margin: 6% 0;
	}

	.content .lista form .item .bttn{
		
	}

	.content .lista form .item .bttn button{
		border-radius: 29px;
		width: 73px;
	}
}