.content .lista{
	width: 90%;
	margin: 60px auto 5px auto;
}

.content .lista .item{
	height: 210px;
	width: 250px;
	grid-template-rows: 80% 20%;
	align-items: center;
}

.content .lista #agregar{
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content .lista #agregar span{
	font-size: 9em;
	color: #ababab;
}

@media only screen and (max-width: 1502px) {

    h1 {
        font-size: 10vh;
        margin: 35px 35px 10px;
    }

    .content .lista {
        width: 90%;
        margin: 0px auto 5px auto;
    }

}