.notificationError {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    animation: slideIn 0.5s forwards;
    font-family: "Golos Text", sans-serif;
}

.notificationErrorHide {
    animation: fadeOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(110%); /* Asegura que la notificación se desplace fuera de la pantalla */
    }
}
