.content{height: 88%;}

.content .contentT{
    height: 100%;
    padding: 1%;
    display: grid;
    grid-template-columns: 57% 40%;
    gap: 1%;
}

.content .contentT .izquierda,
.content .contentT .derecha{
    /*border: 1px solid #691717;*/
}

.topI,.botI, .topD, .botD{
    /*border: 1px solid red;*/
}

.topI{
    display: flex;
}

.contentT .izquierda .topI .icon img{
    max-height: 100%;
    max-width: 100%;
}

.topI, .topD{
    height: 18%;
}

.topD{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.botI, .botD{
    height: 69%;
}

.icon, .nameCat, .tit, .ban, .info, .comnts{
    /*border: 1px solid orange;*/
}

.icon{width: 20%;}

.icon, .nameCat, .info{
    height: 100%;
}

.contentT .izquierda .topI .nameCat{
    width: 80%;
    display: grid;
    justify-items: start;
    align-items: center;
}

.contentT .izquierda .topI .nameCat .name h1{
    margin: 0px;
}

.contentT .izquierda .topI .nameCat .cats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.contentT .izquierda .topI .nameCat .cat{

}

.tit{
    height: 15%;
}

.ban, .comnts{
    height: 85%;
}

/*responsivo*/
@media only screen and (max-width: 1502px) {

    .contentT .izquierda .topI .nameCat .name h1{
        font-size: 3em;
    }

}