.content {
    height: 88%;
    display: flow-root;
    -webkit-display: flow-root
}

.content .contentT {
    height: 86%;
    margin: 1%;
    -webkit-display: grid;
    display: grid;
    grid-template-columns: 57% 43%;
    gap: 1%;
}

.content .contentT .izquierda,
.content .contentT .derecha {
    height: 100%;
}

.topI {
    -webkit-display: flex;
    display: flex;
}

.contentT .izquierda .topI .icon img {
    max-height: 100%;
    max-width: 100%;
}

.topI,
.topD {
    height: 20%;
}

.icon {
    width: 20%;
    display: grid;
    align-items: center;
}

.icon,
.nameCat,
.info {
    height: 100%;
}

.contentT .izquierda .topI .nameCat {
    width: 80%;
    -webkit-display: grid;
    display: grid;
    justify-items: start;
    align-items: center;
}

.contentT .izquierda .topI .nameCat .name h1 {
    margin: 0px;
}

.contentT .izquierda .topI .nameCat .categorias {
    -webkit-display: grid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-content: start;
}

.contentT .izquierda .topI .nameCat .categoria {
    height: 100%;
    -webkit-display: grid;
    display: grid;
    align-items: center;
}

.contentT .izquierda .topI .nameCat .categoria label {
    margin: 2px;
    background: #e6e6e6;
    border-radius: 10px;
    padding: 2%;
    max-width: 300px;
    overflow: hidden;
}

.topD {
    -webkit-display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.derecha .topD .info .calificacion,
.derecha .topD .info .precio,
.derecha .topD .info .horario,
.derecha .topD .info .horario #submenu_horario {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 4px 5px 10px 2px #dfdfdf;
    height: 80%;
    margin: 6% 13%;
    padding: 10px;
    -webkit-display: grid;
    display: grid;
    align-items: center;
}

.derecha .topD .info .calificacion strong {
    font-size: 2em;
}

.derecha .topD .info .horario:hover #submenu_horario {
    -webkit-display: flex;
    display: flex;
    flex-direction: column;
}

.derecha .topD .info .horario #submenu_horario {
    position: absolute;
    width: 319px;
    z-index: 1;
    top: 15%;
    left: 68.8%;
    -webkit-display: none;
    display: none;
    height: auto;
}

.derecha .topD .info .horario #submenu_horario h4,
.derecha .topD .info .horario #submenu_horario span {
    -webkit-display: grid;
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    text-align: center;
}

.derecha .topD .info .horario #submenu_horario strong {
    margin: 0 10px;
}

.botI,
.botD {
    height: 80%;
}

.icon,
.nameCat,
.tit,
.slider-container,
.info,
.comnts {
    /*border: 1px solid orange;*/
}


.content .izquierda .botI .tit,
.content .derecha .botD .tit {
    height: 15%;
}

.content .izquierda .botI .tit h2,
.content .derecha .botD .tit h2 {
    -webkit-display: grid;
    display: grid;
    height: 100%;
    justify-items: start;
    align-items: center;
    margin: 0 2%;
    font-size: 2.5em;
}

.slider-container,
.comnts {
    max-height: 85%;
}

.slider-container {
    width: 80%;
    max-width: 100%;
    height: 80%;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 9%;
    position: relative;
}

.slider-container .slider {
    height: 100%;
    -webkit-display: flex;
    display: flex;
}

.slider-img {
    height: 100%;
}

.slider img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    -webkit-display: flex;
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 4px;
    font-weight: 600;
    cursor: pointer;
    color: #b3b3b3cf;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #8989898c;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.bttnProductos a {
    background: #007096;
    color: white;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.8em;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.bttnProductos a:hover{
    background: #016283;
}

.edicionTienda{
    position: absolute;
    right: 5%;
    bottom: 7%;
    color: white;
    font-size: 2.8em;
}

.edicionTienda a{
    background: #007096;
    color: white;
    padding: 20%;
    border-radius: 50%;
}

.edicionTienda a:hover{
    background: #016283;
}


/*responsivo*/
@media only screen and (max-width: 1502px) {

    .contentT .izquierda .topI .nameCat .name h1 {
        font-size: 2.5rem;
    }

    .contentT .izquierda .topI .nameCat .categoria {
        font-size: 0.8em;
    }

    .content .izquierda .botI .tit h2,
    .content .derecha .botD .tit h2 {
        font-size: 1.5em;
    }

    .derecha .topD .info .horario #submenu_horario {
        left: 62%;
    }

    .slider-container {
        width: 70%;
    }

    .bttnProductos a {
        font-size: 1.3em;
    }

    .edicionTienda{
        right: 3%;
        bottom: 4%;
        font-size: 2em;
    }

}