*::selection {
    background: aliceblue;
    color: #007096;
}

.content{
	font-family: 'Golos Text', sans-serif;
	text-align: center;
}

h1{
	font-size: 5em;
	color: #00455c;
	margin: 35px;
}

.content .lista {
	display: grid;
	-webkit-display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 80%;
	margin: 5px auto; 
}

.content .lista .item{
	display: grid;
	background-color: white;
	border-radius: 20px;
	text-align: center;
	height: 280px;
	box-shadow: 4px 5px 10px 2px #dfdfdf;
	-webkit-box-shadow: 4px 5px 10px 2px #dfdfdf;
	margin: 16px 64px;
}

.content .lista .item .logo{
	max-height: 150px;
    object-fit: cover;
	display: block;
	border-radius: 20px;
	margin: 10px auto 0;
	transition: transform 0.5s ease-in-out;
	-webkit-transition: transform 0.5s ease-in-out;
}

.logo:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.content .lista .item .nombre{
	font-size: 1.2rem;
	display: block;
	margin: 0 8px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content .lista .item .direccion,
.content .lista .item .horario{
	font-family: arial;
	font-size: 1rem;
	margin: 0px 8px;
	display: block;
}

/*Diseno Responsivo*/
@media only screen and (max-width: 1626px){

	.content .lista .item .nombre{
		font-size: 1.1em;
	}

	.content .lista .item .direccion,
	.content .lista .item .horario{
		font-size: 0.9em;
	}

	.content .lista .item{
		height: 250px;
		margin: 16px 55px;
	}
}

@media only screen and (max-width: 1502px){

	.content .lista .item{
		margin: 16px 32px;
	}
}