.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title .bttn_solicitudes_apartado{
    position: fixed;
    right: 7%;
}

.title #bttn_solicitudes_apartado{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1502px){

    .title .bttn_solicitudes_apartado{
        right: 3%;
    }

    h1{
        font-size: 4.8rem;
    }
}