.bttn_cambio_seccion {
    font-size: 1.3rem;
    background-color: white;
    border-radius: 13px;
    padding: 2vh 2vw;
    box-shadow: 4px 5px 10px 2px #dfdfdf;
    text-decoration: none;
    color: black;
    transition: 0.3s linear;
    height: 6.5vh;
    display: block;
}

.bttn_cambio_seccion:hover {
    background-color: #007096;
    color: white;
}

#content-menu-icon{
    display: flex;
    justify-content: center;
}

.content_number_notification{
    width: 0px;
}

.content_number_notification .notifications_store{
    margin: 0 0 0 -15px;
}

#number_notification{
    animation: shake 1s linear infinite;
}
/*shake*/
@keyframes shake {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}

.content .lista {
    grid-template-columns: none;
    width: auto;
}

.content .lista .item {
    height: auto;
    grid-template-columns: 13% 33% 9% 9% 9% 9% 9% 9%;
    align-items: center;
    justify-items: center;
    font-size: 1.3rem;
}

.content .lista .item img {
    max-height: 85px;
    max-width: 61%;
}

.content .lista .item p {
    padding: 5%;
    display: grid;
}

.content .lista .item p label {
    font-size: 1rem;
    color: #007096;
}

.content .lista .item p i {
    font-size: 3rem;
    cursor: pointer;
}

.content .lista #encabezado p {
    font-weight: bold;
    font-size: 1.4rem;
}

.content .nota {
    font-size: 1rem;
    color: #6c6c6c;
}

@media only screen and (max-width: 1502px) {

    .content .title-options {
        margin: 0 32px;
    }

    div#background-animated {
        width: 2.5rem;
        height: 2.5rem;
        left: 7vw;
    }

    #background-animated,
    i.bx.bx-store-alt {
        font-size: 2.5rem;
    }

    .content .title-options h1 {
        font-size: 4.3rem;
        margin: 25px 35px;
    }

    .content .title-options .bttn_cambio_seccion {
        font-size: 1rem;
        padding: 6%;
    }

    .content .lista .item p,
    .content .lista #encabezado p {
        font-size: 1.2rem;
    }

    .content .lista .item {
        margin: 0 32px 32px;
    }

    .content .lista .item img {
        max-height: 73px;
    }
}