#content-menu-icon {
    width: 12.7vw;
}

.content .title {
    display: flex;
    align-items: center;
    /*
    justify-content: center;
    */

    justify-content: space-around;
}

div#background-animated {
    position: absolute;
    left: 8.7vw;
    z-index: -1000;
}

.menu-option div {
    background-color: #d55656;
    margin: 0 0 0 6px;
    border-radius: 50%;
    padding: 6px;
}

.content .title .bttn_cambio_seccion {
    font-size: 1.3rem;
    /*position: absolute;*/
    position: inherit;
    right: 3.35%;
    background-color: white;
    border-radius: 13px;
    padding: 1% 2%;
    box-shadow: 4px 5px 10px 2px #dfdfdf;
    text-decoration: none;
    color: black;
    transition: 0.3s linear;
}

.content .title .bttn_cambio_seccion:hover {
    background-color: #007096;
    color: white;
}

.content .lista {
    grid-template-columns: none;
    width: auto;
}

.content .lista .item {
    height: auto;
    grid-template-columns: 13% 33% 9% 9% 9% 9% 9% 9%;
    align-items: center;
    justify-items: center;
    font-size: 1.3rem;
}

.content .lista .item img {
    max-height: 85px;
    max-width: 61%;
}

.content .lista .item p {
    padding: 5%;
    display: grid;
}

.content .lista .item p label {
    font-size: 1rem;
    color: #007096;
}

.content .lista .item p i {
    font-size: 3rem;
    cursor: pointer;
}

.content .lista #encabezado p {
    font-weight: bold;
    font-size: 1.4rem;
}

.content .nota {
    font-size: 1rem;
    color: #6c6c6c;
}

@media only screen and (max-width: 1502px) {

    #content-menu-icon {
        width: 12.5vw;
    }

    #background-animated {
        width: 2.5rem;
        height: 2.5rem;
    }

    #background-animated,
    i.bx.bx-store-alt {
        font-size: 2.5rem;
    }

    div#background-animated {
        left: 6.4vw;
    }

    .content .title h1 {
        font-size: 4.3rem;
        margin: 25px 35px;
    }

    .content .title .bttn_cambio_seccion {
        font-size: 1rem;
        right: 2.35%;
        padding: 1%;
    }

    .content .lista .item p,
    .content .lista #encabezado p {
        font-size: 1.2rem;
    }

    .content .lista .item {
        margin: 0 32px 32px;
    }

    .content .lista .item img {
        max-height: 73px;
    }
}