.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title .bttn_solicitudes_apartado{
    font-size: 1.3rem;
    position: fixed;
    right: 7%;
    background-color: white;
    border-radius: 13px;
    padding: 16px 31px;
    1% 2%
    box-shadow: 4px 5px 10px 2px #dfdfdf;
}

.title #bttn_solicitudes_apartado{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1502px){

    .title .bttn_solicitudes_apartado{
        right: 3%;
    }

    h1{
        font-size: 4.8rem;
    }
}