#content-menu-icon{
    width: 13.3vw;
}

div#background-animated{
    left: 6.4vw;
}
/*
#background-animated,
i.bx.bx-store-alt {
    margin: 0px 10% 0 3%
}*/


.content .title .bttn_cambio_seccion{
    background-color: #007096;
    color: white;
}

.content .title .bttn_cambio_seccion:hover {
    background-color: white;
    color: black;
}

.content .lista .item{
    grid-template-columns: 13% 34% 10% 9% 12% 11% 11%
}

@media only screen and (max-width: 1502px) {
    div#background-animated {
        left: 4.5vw;
    }
}